libs/
scripts/
docs/
other/
export/
examples/empty/Skyroutes/bin/
examples/empty/Skyroutes/obj/
examples/empty/Skyroutes/data/output/
examples/empty/Skyroutes/Makefile
examples/utils/

*.swp
*.sdf
*.sln
*.suo
*.filters
*.user
*.rc
*.vcxproj
*.md

*.DS_Store

*.cpb
*.make
*.workspace

# Compiled Object files
*.slo
*.lo
*.o
*.xcodeproj
*.xcconfig
*.plist

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
